@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
    overflow-x: hidden;
}

.grid {
    width: 100%;
    display: grid;
    grid-template: 70px 45px auto 75px / 15% 70% 15%;
}

header {
    grid-area: 1 / 1 / span 1 / span 3;
    padding: 0 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F1FAEE;

    border-color: #c4dcdd;
    border-width: 0.003vh;
    border-bottom-style: solid;
}

header img {
    height: 100%;
    display: inline;
}

header span {
    margin-right: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Roboto, serif;
    color: #1D3557;
}

nav {
    grid-area: 2 / 1 / span 1 / span 3;
    background-color: #528cb1;

    padding: 0 20%;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
}

nav ul li {
    display: inline;
    padding: 9px 10px;
}

nav ul li a {
    color: #F1FAEE;
    font-size: 1.3rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

main {
    grid-area: 3 / 1 / span 1 / span 3;
    display: grid;

    grid-template: 45vw auto 700px / repeat(13, 1fr);
    grid-gap: 30px;
}

#landing-image {
    grid-area: 1 / 1 / 1 / span 13;

    background-image: url("./images/dims.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#blacken {
    grid-area: 1 / 1 / 1 / span 13;
    background-color: black;
    opacity: 0.3;
}

h1 {
    z-index: 3;
    background-color: #457B9D;
    padding: 14px;
    border-radius: 2px;
    font-size: 3rem;
    color: #e6ecec;
    margin: 0;

    font-family: Roboto, serif;
}

#landing-image span {
    z-index: 2;
    position: relative;
    top: -10px;
    background-color: #e6ecec;
    color: #1D3557;
    font-size: 2rem;
    font-family: Roboto, serif;
    padding: 10px;
    padding-top: 10px;
}



#infomration-panel {
    margin-top: -20px;
    grid-area: 2 / 4 / span 1 / span 7;
    text-align: center;
    font-size: 1.5rem;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#information-split {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#information-questions {
    min-width: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-interactive {
    border-radius: 4px;
    background-color: #528cb1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttons-interactive span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 1.6rem;
}

.buttons-interactive span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttons-interactive:hover span {
    padding-right: 25px;
}

.buttons-interactive:hover span:after {
    opacity: 1;
    right: 0;
}

#button-appointment {
    background-color: #E63946;
}

#information-box {
    width: 50%;
    min-width: 300px;
    font-size: 1.2rem;
}


#general-info {
    grid-area: 3 / 4 / span 1 / span 7;

    padding: 10px 20px;

    display: grid;
    grid-template: 50px repeat(2, 1fr) 40px 1fr 1fr / repeat(4, 1fr);
    grid-gap: 40px;

    font-family: Roboto, serif;
}

#general-info h2 {
    grid-area: 1 / 1 / span 1 / span 4;

    font-size: 2rem;
}

#general-info-box-one {
    grid-area: 2 / 1 / span 2 / span 2;
}

#general-info-box-two {
    grid-area: 2 / 3 / span 2 / span 2;
}

.general-upper-boxes {
    background-color: #eff8f8;
    padding: 20px;
    border-bottom:  2px solid #528cb1;
    border-right: 2px solid #528cb1;
    font-size: 1.25rem;
}

#general-info h3 {
    grid-area: 4 / 1 / span 1 / span 4;
}

#general-small-box-one {
    grid-area: 5 / 1 / span 1 / span 1;
}

#general-small-box-two {
    grid-area: 5 / 2 / span 1 / span 1;
}

#general-small-box-three {
    grid-area: 5 / 3 / span 1 / span 1;
}

#general-small-box-four {
    grid-area: 5 / 4 / span 1 / span 1;
}

.general-lower-boxes {
    background-color: #eff8f8;

    padding: 10px;
    border-bottom:  2px solid #528cb1;
    border-right: 2px solid #528cb1;

    text-align: center;
    font-size: 1rem;
    line-height: 1.7;
}

.general-info-icons {
    font-size: 50px;
}

footer {
    grid-area: 4 / 1 / span 1 / span 3;
    background-color: #292c2f;
    padding: 30px 20%;
    color: #F1FAEE;
    font-family: Roboto, serif;
}






/* Deinost page */

#landing-deinost-variant {
    grid-area: 1 / 1 / 1 / span 13;

    background-image: url("../images/dims4.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-deinost-variant span {
    z-index: 2;
    position: relative;
    top: -10px;
    background-color: #e6ecec;
    color: #1D3557;
    font-size: 2rem;
    font-family: Roboto, serif;
    padding: 10px;
    padding-top: 10px;
}

#deinost-main {
    grid-template: 35vw 500px 10px/ repeat(13, 1fr);
    font-family: Roboto, serif;
}

#deinost-information {
    grid-area: 2 / 4 / span 1 / span 7;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    border-bottom: solid 1px #457B9D;
    border-right: solid 1px #457B9D;
}

#deinost-pregledi-button {
    grid-area: 1 / 1 / span 1 / span 1;
}

#deinost-konsultaciq-button {
    grid-area: 2 / 1 / span 1 /span 1;
}

#deinost-diagnostika-button {
    grid-area: 3 / 1 / span 1 /span 1;
}

#deinost-infromation-box {
    grid-area: 1 / 2 / span 3 / span 3;
    background-color: #eff8f8;
    font-size: 1.2rem;
    padding: 40px;
    border-left: solid 1px #c0d0db;
}

#deinost-infromation-box span {
    text-align: center;
}

.deinost-button {
    background-color: #eff8f8;
    border: none;
    box-shadow: none;
    cursor: pointer;

    font-size: 1.5rem;
}

/* end deinost page */


@media only screen and (max-width: 1205px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template: 70px 50px auto 75px / 0% 100% 0%;
    }

    header {
        padding: 0 10%;
    } 

    nav ul {
        justify-content: center;
    }

    nav ul li {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    #landing-image span {
        font-size: 1.3rem;
    }

    #infomration-panel {
        grid-area: 2 / 3 / span 1 / span 9;
        font-size: 1.5rem;
    }

    #information-split {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #general-info {
        grid-area: 3 / 2 / span 1 / span 11;
    }

    .general-upper-boxes {
        font-size: 1.2rem;
    }

    .general-lower-boxes {
        font-size: 1rem;
    }

    footer {
        grid-area: 4 / 1 / span 1 / span 3;
        background-color: #292c2f;
        padding: 30px 20%;
        color: #F1FAEE;
        font-family: Roboto, serif;
    }

    /* deinost start */
    .deinost-button {
        font-size: 1.2rem;
    }
    
    #deinost-infromation-box {
        font-size: 1rem;
        padding: 1px;
    }

    #deinost-information {
        grid-area: 2 / 2 / span 1 / span 11;
    }
    /* deinost end  */
}

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template: 70px 50px auto 75px / 0% 100% 0%;
    }

    header {
        background-color: #1D3557;
        justify-content: center;
    }

    header span {
        color: #F1FAEE;
    }

    header img {
        display: none;
    }

    nav {
        padding: 1px;
    }

    nav ul {
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    #landing-image span {
        display: none;
    }

    /* deinost site  */
    #landing-deinost-variant span {
        display: none;
    }

    #deinost-information {
        grid-area: 2 / 1 / span 1 / span 13;
        grid-template: 1fr 2fr 2fr / 33% 33% 33%;
        width: 90%;
        margin: 0 10px;
    }

    #deinost-pregledi-button {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    #deinost-konsultaciq-button {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #deinost-diagnostika-button {
        grid-area: 1 / 3/ span 1 / span 1;
    }

    #deinost-infromation-box {
        grid-area: 2 / 1 / span 2 / span 3;
        padding: 20px;
    }

    .deinost-button {
        font-size: 1rem;
    }
    /* end deinost site */

    main {
        grid-template: 45vw auto auto / repeat(13, 1fr);
    }

    #infomration-panel {
        grid-area: 2 / 1 / span 1 / span 13;
        font-size: 1.5rem;
    }

    .buttons-interactive {
        padding: 10px;
        width: 200px;
        font-size: 10px;
    }
    
    .buttons-interactive span {
        font-size: 1.3rem;
    }

    #general-info {
        grid-area: 3 / 1 / span 1 / span 13;
        grid-template: 50px repeat(4, 50px) 40px 1fr 1fr / repeat(4, 1fr);
    }

    #general-info h2 {
        grid-area: 1 / 1 / span 2 / span 3;
        font-size: 1.5rem;
    }

    #general-info-box-one {
        grid-area: 2 / 1 / span 2 / span 3;
    }

    #general-info-box-two {
        grid-area: 4 / 1 / span 2 / span 3;
    }

    .general-upper-boxes {
        font-size: 1rem;
    }

    
    #general-info h3 {
        grid-area: 6 / 1 / span 1 / span 3;
    }

    #general-small-box-one {
        grid-area: 7 / 1 / span 1 / span 1;
    }

    #general-small-box-two {
        grid-area: 7 / 2 / span 1 / span 1;
    }

    #general-small-box-three {
        grid-area: 8 / 1 / span 1 / span 1;
    }

    #general-small-box-four {
        grid-area: 8 / 2 / span 1 / span 1;
    }

    .general-lower-boxes {
        font-size: 1rem;
    }

    footer {
        grid-area: 4 / 1 / span 1 / span 3;
        background-color: #292c2f;
        padding: 30px 20%;
        color: #F1FAEE;
        font-family: Roboto, serif;
    }
}