@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
}

.grid {
    width: 100%;
    display: grid;
    grid-template: 70px 45px auto 15vh / 15% 70% 15%;
}

header {
    grid-area: 1 / 1 / span 1 / span 3;
    padding: 0 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F1FAEE;

    border-color: #c4dcdd;
    border-width: 0.003vh;
    border-bottom-style: solid;
}

header img {
    height: 100%;
    display: inline;
}

header span {
    margin-right: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Roboto, serif;
    color: #1D3557;
}

nav {
    grid-area: 2 / 1 / span 1 / span 3;
    background-color: #528cb1;

    padding: 0 20%;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
}

nav ul li {
    display: inline;
    padding: 9px 10px;
}

nav ul li a {
    color: #F1FAEE;
    font-size: 1.3rem;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

main {
    grid-area: 3 / 1 / span 1 / span 3;
    display: grid;

    grid-template: 45vw 600px 600px / repeat(13, 1fr);
}

#landing-image {
    grid-area: 1 / 1 / 1 / span 13;

    background-image: url("/images/dims.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blacken {
    grid-area: 1 / 1 / 1 / span 13;
    background-color: black;
    opacity: 0.3;
}

h1 {
    z-index: 3;
    background-color: #457B9D;
    padding: 14px;
    border-radius: 2px;
    font-size: 3rem;
    color: #e6ecec;
    margin: 0;

    font-family: Roboto, serif;
}

#landing-image span {
    z-index: 2;
    position: relative;
    top: -10px;
    background-color: #e6ecec;
    color: #1D3557;
    font-size: 2rem;
    font-family: Roboto, serif;
    padding: 10px;
    padding-top: 10px;
}



#infomration-panel {
    grid-area: 2 / 4 / span 1 / span 7;
    text-align: center;

    font-size: 1.5rem;
    font-family: Roboto;
}

#information-split {
    display: flex;
}

#information-questions {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#information-questions span {
    background-color: #528cb1;
    display: block;
    height: 40px;
    width: 60%;
    padding: 15px;
    margin-bottom: 14px;
    border-radius: 10px;
}

#information-box {
    width: 50%;
    font-size: 1.2rem;
}




















@media only screen and (max-width: 1205px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template: 70px 50px 80vh 15vh / 0% 100% 0%;
    }

    header {
        padding: 0 10%;
    } 

    nav ul {
        justify-content: center;
    }

    nav ul li {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    #landing-image span {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        width: 100%;
        display: grid;
        grid-template: 40px 50px 80vh 15vh / 0% 100% 0%;
    }

    header {
        background-color: #1D3557;
        justify-content: center;
    }

    header span {
        color: #F1FAEE;
    }

    header img {
        display: none;
    }

    nav {
        padding: 1px;
    }

    nav ul {
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    #landing-image span {
        display: none;
    }
}